@media screen and (max-width: 767px) {
    .hero-section {
      margin: 0 auto;
      padding-top: 112px;
      padding-bottom: 112px;
      max-width: 1440px;    
      background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url('./images/hero-bg.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      }
      @media screen and (min-resolution: 192dpi), 
             screen and (min-resolution: 2dppx),
             screen and (min-device-pixel-ratio: 2) {
                .hero-section {
                    background-image: linear-gradient(
                        rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)
                      ),
                      url('./images/hero-bg@2x.jpg');;
                }
}
      .hero-title {
        max-width: 320px;
        margin: 0 auto 36px;
        text-align: center;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--white-color);
    }
    .main-btn {
        display: block;
        margin: 0 auto;
        padding: 16px 32px;
        min-width: 169px;
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white-color);
        background-color: var(--brand-color);
        border: none;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transition: background-color var(--transition);
      }
      .main-btn:hover,
      .main-btn:focus {
        background-color: var(--pressed-state-color);
      } 
    }

@media  screen and (min-width: 768px) and (max-width: 1157px) {
        .hero-section {
            margin: 0 auto;
            padding-top: 112px;
            padding-bottom: 112px;
            max-width: 1440px;    
            background-image: linear-gradient(
                  rgba(46, 47, 66, 0.7),
                  rgba(46, 47, 66, 0.7)
                ),
                url('/images/hero-bg.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            }
            @media screen and (min-resolution: 192dpi), 
                   screen and (min-resolution: 2dppx),
                   screen and (min-device-pixel-ratio: 2) {
                      .hero-section {
                          background-image: linear-gradient(
                              rgba(46, 47, 66, 0.7),
                              rgba(46, 47, 66, 0.7)
                            ),
                            url('/images/hero-bg@2x.jpg');;
                      }
      }
            .hero-title {
              max-width: 496px;
              margin: 0 auto 36px;
              text-align: center;
              font-size: 56px;
              line-height: 1.07; 
              letter-spacing: 0.02em;
              text-transform: capitalize;
              color: var(--white-color);
          }
          .main-btn {
              display: block;
              margin: 0 auto;
              padding: 16px 32px;
              min-width: 169px;
              font-family: inherit;
              font-size: 16px;
              font-weight: 500;
              line-height: 1.5;
              letter-spacing: 0.04em;
              color: var(--white-color);
              background-color: var(--brand-color);
              border: none;
              border-radius: 4px;
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
              transition: background-color var(--transition);
            }
            .main-btn:hover,
            .main-btn:focus {
              background-color: var(--pressed-state-color);
            } 
    }
    

@media screen and (min-width: 1158px) {
    .hero-section {
      margin: 0 auto;
      padding-top: 188px;
      padding-bottom: 188px;
      font-family: inherit;
          
      background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url('../images/hero-bg.jpg');
      max-width: 1440px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      }
      @media screen and (min-resolution: 192dpi), 
      screen and (min-resolution: 2dppx),
      screen and (min-device-pixel-ratio: 2) {
         .hero-section {
             background-image: linear-gradient(
                 rgba(46, 47, 66, 0.7),
                 rgba(46, 47, 66, 0.7)
               ),
               url('../images/hero-bg@2x.jpg');;
         }
}
      
      .hero-title {
        max-width: 496px;
        margin: 0 auto 48px;
        text-align: center;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--white-color);
      }
      .main-btn {
        display: block;
        margin: 0 auto;
        padding: 16px 32px;
        min-width: 169px;
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white-color);
        background-color: var(--brand-color);
        border: none;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transition: background-color var(--transition);
      }
      .main-btn:hover,
      .main-btn:focus {
        background-color: var(--pressed-state-color);
      } 
}
